<% if session['access_token'] && session['access_token_secret'] %>
<span class="username">
  <%= link_to @randomTweeter + ':', "https://twitter.com/" + @randomTweeter, target: "_blank" %>
</span>
<span class="infoWrapper">
  <span class="info"></span>
</span>
<button class="toggle hide" type="button">Toggle</button>
<div class="madlib">
  <span class="tweet">
    <span class="hide">
      <%= partsOfSpeech(@randomTweet) %>
    </span>
    <span class="inputs"></span>
  </span>
</div>
<span class="error"></span>
<span class="buttonContainer">
  <button class="submit" type="button">MadLiberate</button>
  <span class="hide">
    <button class="share" type="button">Share</button>
  </span>
</span>
<% else %>
<div class="madlib">
  <p>
    It's so
    <span class="pos">(ADJECTIVE)</span>
    to have you visit! Time to get Mad Liberating, so go ahead and
    <span class="pos">(VERB)</span> that
    <span class="pos">(ADJECTIVE)</span>
    burger at the top right and link up your Twitter account to get going!
  </p>
</div>
<% end %>
