  <div class="madlib">
<% if session['access_token'] && session['access_token_secret'] %>
<%= @user %>
    <% end %>
    <%= form_tag '/auth/twitter', method: 'get', html: {class: 'form-horizontal'} do %>

          <button class="btn btn-large btn-primary">
            <%= t('button.MadLiberate') %>
          </button>

    <% end %>
</div>
