// Place all the styles related to the madlibs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$purple: rgb(155, 151, 220);
$blue: rgb(95, 205, 250);

.madlib {
  width:400px;
}
.text {
  color: white;
}
.navbar {
  width: 100%;
  height: 50px;
}
.navbar img {
  height: 50px;
}
a.burger {
  text-decoration: none;
  color: $purple;
  font-size: 40px;
  float: right;
  display: inline-block;
}
.username a {
  text-decoration: none;
  font-size: 8vh;
  color: $purple;
  font-weight: bold;
}
.userImage img {
  float:right;
  height: 40px;
  padding: 5px;
}
footer {
  text-align: center;
  margin-top: 10px;
}
.tweet {
  font-size: 6vh;
  color: $blue;
}
.madlib {
  width: 75%;
  min-height: 500px;
  margin: 0 auto;
  text-align: center;
  // border: solid $blue 5px;
  padding: 10px;
}
button {
  height: 100px;
  width: 200px;
  font-size: 4vh;
  background: $purple;
  color: white;
  font-weight: bold;
}
