// Place all the styles related to the madlibs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$purple: rgb(155, 151, 220);
$blue: rgb(95, 205, 250);

html,body {
  background: white;
  height: 100%;
  font-family: 'Signika', sans-serif;
}

pps, pp {
  margin-left: -0.3rem;
}

span.info {
  display: block;
  display: none;
  font-size: 2.5vh;
}
span.infoWrapper {
  height: 2.5vh;
}

span.hide {
  font-size: 4.5vh;
}

sym, .http {
  margin-right: -0.3rem;
}
.shareArrow img, .nextArrow img, .toggleArrow img {
  width: 25%;
  cursor: pointer;
}

.container {
  width: 100%;
  height: inherit;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-height: 100vh;
  -webkit-text-align: center;
  -webkit-align-items: center;
  -webkit-flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;;
  text-align: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text {
  color: white;
}
.navbar {
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 0px;
}
.navbar img {
  height: 8vh;
}
span.burger {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.username a {
  text-decoration: none;
  font-size: 7.4vh;
  color: $purple;
  font-weight: bold;
}
.userImage img {
  // float:right;
  height: 7vh;
  padding: 5px;
  border-radius: 10px;
  margin: 0px;
}
.burger img {
  // float: right;
  height: 7vh;
  padding: 5px;
  margin-right: 10px;
}
.burger {
  text-align: right;
  display: inline-block;
}
.navContainer {
  display: inline-block;
  text-align: right;
  float: right;
}
img.navContainer {
  display: inline;
}
footer {
  margin-top: 10px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
.tweet {
  font-size: 6vh;
  color: $blue;
}
.noun, .adjective, .adverb, .verb {
  color: $purple;
}
.error {
  display: inline-block;
  position: relative;
  color: $blue;
  font-size: 4vh;
}
.hide {
  display: none;
}
.inputs {
  margin: 0 auto;
  text-align: center;
}
.tweet input[type=text] {
  -webkit-appearance: none;
  height: 100%;
  text-align: center;
  font-size: 5vh;
  border-radius: 10px;
  font-family: 'Signika', sans-serif;
  margin: 5px auto;
  color: $blue;
  width: 80%;
  display: inline;
}
.inputContainer {
  -webkit-appearance: none;
  height: 8vh;
  width: 90%;
  display: block;
  position: relative;
  margin: 0 auto;
}
.inputContainer input {
  display: inline;
}
.madlib {
  width: 96%;
  min-height: 100px;
  max-height: 55%;
  margin: 0 auto;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-text-align: center;
  -webkit-flex-wrap: nowrap;
  -webkit-align-content: center;
  -webkit-align-items: center;
  text-align: center;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.madlib p {
  color: $blue;
  font-size: 4.5vh;
  line-height: 6vh;
}
.dropdown {
  display: none;
  width: 100%;
  background-color: $purple;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  font-size: 2.5vh;
}
.dropdown a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
button.submit, button.share {
  height: 100%;
  width: 50;
  font-size: 4vh;
  background: $purple;
  color: white;
  font-weight: bold;
}
button.toggle {
  font-size: 1.5vh;
  background: $purple;
  color: white;
  font-weight: bold;
}
.buttonContainer {
  display: inline;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 10%;
}
.buttonContainer button {
  display: inline;
}
.buttonContainer span {
  height: 100%;
}
button.buttons {
  -webkit-appearance: none;
  height: 100%;
  font-size: 4vh;
  width: 20%;
  color: white;
  background-color: $blue;
  font-weight: bold;
  border-radius: 10px;
}
.pos {
  color: $purple;
}
